.limbo-umbraco-multinode-treepicker.type-converter-overlay .umb-node-preview {
  padding-left: 10px;
  cursor: pointer;
}
.limbo-umbraco-multinode-treepicker.type-converter-overlay .umb-node-preview:hover {
  background: #e9e9eb;
}
.limbo-umbraco-multinode-treepicker .button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.limbo-umbraco-multinode-treepicker .button-list > button {
  appearance: none;
  display: inline-block;
  -webkit-appearance: none;
  border: 0;
  font-weight: bold;
  color: #1A2650;
  line-height: 1;
  background-color: rgba(216, 215, 217, 0.5);
  font-size: 13px;
  margin: 0;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}
.limbo-umbraco-multinode-treepicker .button-list > button:hover {
  background-color: rgba(216, 215, 217, 0.3);
  color: #2152a3;
}
.limbo-umbraco-multinode-treepicker .button-list > button.--active {
  background-color: #F5C1BC;
  color: #1A2650;
}
.btn.btn-xs.limbo-multinode-treepicker-button {
  margin-bottom: 5px;
  padding: 3px 8px;
  font-size: 11px;
  line-height: 19px;
  white-space: nowrap;
}