.limbo-umbraco-multinode-treepicker.type-converter-overlay .umb-node-preview {
  padding-left: 10px;
  cursor: pointer;
}
.limbo-umbraco-multinode-treepicker.type-converter-overlay .umb-node-preview:hover {
  background: #e9e9eb;
}
.btn.btn-xs.limbo-multinode-treepicker-button {
  margin-bottom: 5px;
  padding: 3px 8px;
  font-size: 11px;
  line-height: 19px;
  white-space: nowrap;
}